.board {
  
  .today {
    text-align: center;
    margin: 1.5em;
    
    >div {
      &:first-child {
        font-size: 2em;
      }
      
      &:last-child {
        font-size: 4em;
        margin: -.2em 0;
      }
    }
  }
  
  .week-label {
    margin-top: .6em;
    
    >div {
      display: inline-block;
      width: 50%;
      
      &:last-child {
        text-align: right;
      }
    }
  }
  
  .time-gauge {
    div {
      display: inline-block;
    }
    
    .gauge-label {
      width: 13%;
      
      &:last-child {
        text-align: right;
      }
    }
    
    .gauge-wrap {
      width: 74%;
      position: relative;
      height: .75em;
      
      .gauge {
        height: .75em;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;


        &:first-child {
          background-color: #514E48;
          width: 100%;
        }
        
        &:last-child {
          background: repeating-linear-gradient(
                          45deg,
                          #606dbc,
                          #606dbc 10px,
                          #465298 10px,
                          #465298 20px
          );
          
          &.full {
            background: repeating-linear-gradient(
                            45deg,
                            #D48267,
                            #D48267 10px,
                            #C05B4B 10px,
                            #C05B4B 20px
            );
          }
        }
      }
    }
  }
}