.excepts {
  .half {
    display : inline-block;
    width: 50%;
  }
  
  .except {
    img {
      float: none;
      vertical-align: bottom;
    }
  }
  
  input[type=time] {
    background: none;
    color: #F2F2F2;
    font-weight: bold;
    font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
    border: none;
    font-size: 1em;
    -webkit-appearance:none;
    
    &.modify {
      color: #F2BF91;
    }
  }
}