.excepts {
  .half {
    display : inline-block;
    width: 50%;
  }
  
  .except {
    padding: .5em 0;
    
    img {
      float: none;
      vertical-align: bottom;
    }
    
    &.new > hr {
      border: #30404D 1px dashed;
      margin: 0 0 10px 0;
    }
  }
  
  input[type=time] {
    height: 1em;
    min-width: 4em;
    background: none;
    color: #F2F2F2;
    font-weight: bold;
    font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
    border: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
    
    &.modify {
      color: #F2BF91;
    }
  }
  
  .lap_time {
    display: inline-block;
  }
}