.lap_time {
  input[type=number] {
    width: 1em;
    background: none;
    color: #F2F2F2;
    font-weight: bold;
    font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
    border: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-align: right;
    -webkit-appearance:none;
  }
}