.week {
  
  .mode {
    width: 100%;

    &> div {
      display: inline-block;
      padding-top: 10px;
    }

    &> div:nth-child(1) {
      width: 15%;
      text-align: center;

      &.today {
        color: #F2CA50;
      }
    }
    &> div:nth-child(2) {
      width: 85%;
      text-align: center;
      
      > div {
        display: inline-block;
        width: 23%;
        background-color: #514E48;
        border-radius: 5px;
        margin: 0 2px;
        font-size: 0.9em;
        
        &.selected {
          background-color: #728C80;
        }
      }
    }
  }

  .work {
    width: 100%;

    &> div {
      display: inline-block;
      padding-top: 10px;
    }

    &> div:nth-child(1) { 
      width: 15%;
      text-align: center;
      
      &.today {
        color: #F2CA50;
      }
    }
    &> div:nth-child(2) { width: 35%; text-align: center; }
    &> div:nth-child(3) { width: 20%; text-align: center; }
    &> div:nth-child(4) { width: 20%; text-align: center; }
    &> div:nth-child(5) {
      width: 10%;
      text-align: center;
      img {
        width: 12px;
      }
    }

    &> div.extra {
      font-size: .9em;
      background-color: #384A59;
      width: 100%;
      padding: 5px 10px 10px 10px;
      margin: 5px 0;
      border-top: #344554 2px solid;
      border-radius: 5px;

      img {
        width: 14px;
        margin: 4px 5px;
      }

      @import "excepts";
    }
  }
}