

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(font/OpenSansCondensedLight.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/OpenSansCondensedBold.woff) format('woff');
}


/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(font/NotoSansKR-Regular.woff2) format('woff2'),
  url(font/NotoSansKR-Regular.woff) format('woff'),
  url(font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(font/NotoSansKR-Bold.woff2) format('woff2'),
  url(font/NotoSansKR-Bold.woff) format('woff'),
  url(font/NotoSansKR-Bold.otf) format('opentype');
}