/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
@import "macro";
@import "font";

* {
  box-sizing: border-box;
}

html {
  @include vendor-prefix(text-size-adjust, 100%); /* Prevent font scaling in landscape while allowing user zoom */
  @include vendor-prefix(user-select, none);
}

body {
  margin: 0;
  width: 100%;
  background-color: #514E48;
  font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
}



.label {
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 30px;
}

.tray {
  margin: 0;
  padding: 0;
}

.panal {
  padding: 10px;


  &.board {
    background-color: #F2BF91;
    color: #F2F2F2;
    font-weight: bold;
  }

  &.summaries {
    background-color: #728C80;
    color: #F2F2F2;
    font-weight: bold;
  }

  &.week {
    background-color: #30404D;
    color: #F2F2F2;
    font-weight: bold;
  }

  .header {
    margin-bottom: 10px;
    
    img {
      width: 1em;
      margin: 0 5px;
      float: right;
    }
  }
}


@import "panal/board";
@import "panal/week";
@import "panal/summaries";


.workBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  opacity: .6;

  img {
    width: 50px;
  }
}