@import "macro";
@import "font";

* {
  box-sizing: border-box;
}

html {
  @include vendor-prefix(text-size-adjust, 100%); /* Prevent font scaling in landscape while allowing user zoom */
  @include vendor-prefix(user-select, none);
}

body {
  margin: 0;
  padding-bottom: 100px;
  width: 100%;
  background-color: #514E48;
  font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
}


.tick {
  opacity: .7;
}

.clicked {
  opacity: .4;
}


.label {
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 30px;
  
  input[type=text] {
    background: none;
    color: #F2F2F2;
    font-weight: bold;
    font-family: 'Open Sans Condensed', 'Noto Sans KR', sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    border: none;
    -webkit-appearance:none;
    width: 2.2em;
    text-align: center;
  }
}

.tray {
  margin: 0;
  padding: 0;
}

.panal {
  padding: 10px;


  &.board {
    background-color: #F2BF91;
    color: #F2F2F2;
    font-weight: bold;
  }

  &.summaries {
    background-color: #728C80;
    color: #F2F2F2;
    font-weight: bold;
  }

  &.week {
    background-color: #30404D;
    color: #F2F2F2;
    font-weight: bold;
  }

  .header {
    margin-bottom: 10px;
    
    img {
      width: 1.1em;
      margin: 0 5px;
      float: right;
    }
  }
}


@import "panal/board";
@import "panal/week";
@import "panal/summaries";
@import "panal/lap";


.workBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #514E48;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  opacity: .7;
  
  @include vendor-prefix(box-shadow, #4a4742 0 2px 2px);
  
  &.on {
    background-color: #C05B4B;
  }

  img {
    width: 60px;
  }
}