<div class="board panal">
    <div class="header">
        Dongsu 2.0 [Beta]
    </div>
    
    <div class="today">
        <div>Today</div>
        <div ng-class="{'blink': board.isRecording()}">{{board.today.working | time | timeholder}}</div>
    </div>
    
    <div class="week-label">
        <div>This week</div>
        <div>Remain</div>
    </div>
    <div class="time-gauge">
        <div class="gauge-label" ng-class="{'blink': board.isRecording()}">{{board.getTotalWorkedTime() | time}}</div>
        <div class="gauge-wrap">
            <div class="gauge"></div>
            <div class="gauge" ng-style="board.getWorkedGauge()" ng-class="{'full':board.isFull()}"></div>
        </div>
        <div class="gauge-label" ng-class="{'blink': board.isRecording()}">{{board.getRemainTime() | time | timeholder}}</div>
    </div>
</div>