<div class="mode">

    <div ng-class="{'today':mode.isToday()}">{{::mode.getDate()}}</div>
    <div>
        <div ng-class="{'selected':mode.isSelected('8h')}" ng-click="mode.select('8h')">FULL</div>
        <div ng-class="{'selected':mode.isSelected('4h')}" ng-click="mode.select('4h')">HALF</div>
        <div ng-class="{'selected':mode.isSelected('0h')}" ng-click="mode.select('0h')">DAY OFF</div>
        <div ng-class="{'selected':mode.isSelected('NA')}" ng-click="mode.select('NA')">HOLIDAY</div>
    </div>
</div>