<div class="week panal">
    <div class="header">
        Week
        <img src="images/tool.png" ng-click="week.toggle()"/>
    </div>

    <div ng-if="!week.edit">
        <div class="work">
            <div>DATE</div>
            <div>WORK TIME</div>
            <div>WORKED</div>
            <div>TYPE</div>
            <div>MORE</div>
        </div>
    
        <div ng-repeat="works in main.data track by works.workDate" ds-work></div>
    </div>
    
    <div ng-if="week.edit">
        <div class="mode">
            <div>DATE</div>
            <div>TYPE</div>
        </div>
        
        <div ng-repeat="works in main.data track by works.workDate" ds-mode></div>

        <hr/>
        <div>
            TAGS &nbsp;
            <ds-label ng-repeat="item in week.labels" label="item" modify="true"></ds-label>
        </div>
    </div>
</div>