<div class="week panal">
    <div class="header">
        Week
        <img src="images/tool.png" ng-click="week.toggle()" ng-class="{'clicked':week.edit}" />
    </div>

    <div ng-if="!week.edit">
        <div class="work">
            <div>DATE</div>
            <div>WORK TIME</div>
            <div>WORKED</div>
            <div>TYPE</div>
            <div>MORE</div>
        </div>
    
        <div ng-repeat="works in main.data | filter:week.more track by works.workDate" ds-work></div>
    </div>
    
    <div ng-if="week.edit">
        <div>
            TAGS &nbsp;
            <ds-label ng-repeat="item in week.labels track by $index" label="item" modify="true"></ds-label>
        </div>

        <hr/>

        <div class="mode">
            <div>DATE</div>
            <div>TYPE</div>
        </div>

        <div ng-repeat="works in main.data | filter:week.more track by works.workDate" ds-mode></div>
    </div>
    <div class="more">
        <div ng-click="week.flip = !week.flip" ng-class="{'clicked':!week.flip}">{{ week.flip ? "MORE" : "CLOSE" }}</div>
    </div>
</div>